{
    "tabWidth": 4,
    "singleQuote": false,
    "printWidth": 100,
    "trailingComma": "all",
    "overrides": [
        {
            "files": [
                "*.yml"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}